.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content{
  padding: 20px;
  border: 1px solid black;
  border-radius: 16px;
  margin: 10px;
}

.pill{
  display: inline-block;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  margin-right:5px;
  margin-top: 10px;
}

.joingroup{
  flex-direction: column;
  align-items: center;
  
}

.joingroupBg{
  background-image: url('/groupGradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media(min-width:900px){
  .joingroup{
    flex-direction: row;
  }
}
